.row
  .small-12.columns
    .text-center
      .button-group.expanded
        =link_to "Edit My Profile", staff_profiles_path, class: "button"
        -if current_user.editor?
          =link_to "Review & Publish Staff Profiles", staff_review_profiles_path, class: "button disabled"
        -else
          =link_to "Review Staff Profiles", staff_review_profiles_path, class: "button disabled"

      %h1
        Review Staff Profiles
.row
  -@staff_profiles.each do |profile|
    .small-12.medium-6.large-4.columns.end
      .card
        .card-divider.text-center
          %h2= profile.user.full_name
        .card-section.text-center
          -if profile.picture.present?
            =image_tag(profile.picture.url, alt: "Picture of #{profile.user.full_name}")
          %h2= profile.title
          %p
            %strong= profile.responsibilities
        .card-section
          %p
            %em= profile.blurb
        -if current_user.editor?
          %hr/
          .card-section
            =form_for [:staff, :review, profile] do |f|
              .row
                .small-12.medium-4.columns
                  =f.label :series
                  =f.number_field :series
                .small-12.medium-4.columns
                  .text-center
                    =f.label :published
                    =f.check_box :published
                .small-12.medium-4.column
                  .text-right
                    =f.submit "Save", class: "button"
