.row
  .small-12.columns
    %h1.text-center
      Components
      =link_to staff_pictures_path do
        %i.fa.fa-picture-o{"aria-hidden": "true"}
    -if current_user.editor?
      %p.text-center= link_to "Add New Component", new_staff_component_path, class: "button"
    %fieldset.fieldset
      %legend Filters
      %ul.vertical.medium-horizontal.menu
        %li.menu-text Profession:
        -@professions.each do |profession|
          %li= link_to profession, staff_filter_path(profession.parameterize)
      %ul.vertical.medium-horizontal.menu
        %li.menu-text Rarity:
        -Ingredient.rarities.keys.each do |rarity|
          %li= link_to rarity.titleize, staff_filter_path(rarity)
      %ul.vertical.medium-horizontal.menu
        %li.menu-text Season:
        -@seasons.map(&:name).each do |season|
          %li= link_to season, staff_filter_path(season.parameterize)
      %ul.vertical.medium-horizontal.menu
        %li.menu-text Type:
        -Ingredient.categories.keys.each do |category|
          %li= link_to category.titleize, staff_filter_path(category)
    %table.hover.stack.datatables
      %thead
        %tr
          %th Name
          %th Type
          %th Rarity
          %th Season
          %th Grade
          %th Processes
          %th Crafting
          %th Ritual
      %tbody
        -@components.each do |component|
          %tr
            %td= link_to component.name, staff_component_path(component)
            %td.text-center= component.category.titleize
            %td.text-center= component.rarity.titleize
            %td.text-center= component.season
            %td.text-right= component.grade
            %td.text-center
              %p.margin-bottom-none
                %strong Extraction:
                =component.process_extraction
              %p.margin-bottom-none
                %strong Calcination:
                =component.process_calcination
              %p.margin-bottom-none
                %strong Dissolution
                =component.process_dissolution
              %p.margin-bottom-none
                %strong Concentration
                =component.process_concentration
            %td.text-center= component.crafting
            %td.text-center
              %p.margin-bottom-none
                %strong Attribute:
                =component.ritual_attribute
              %p.margin-bottom-none
                %strong Elemental Affinity:
                =component.ritual_elemental_affinity
              %p.margin-bottom-none
                %strong Gender:
                =component.ritual_gender
              %p.margin-bottom-none
                %strong Opposite:
                =component.ritual_opposite
