.row
  .small-12.columns
    %h1.text-center.top-padded Components
    %p.text-center= link_to "Add New Component", new_staff_component_path, class: "button"
    %fieldset.fieldset
      %legend Filters
      %ul.vertical.medium-horizontal.menu
        %li.menu-text Profession:
        -@professions.each do |profession|
          %li= link_to profession, staff_filter_path(profession.parameterize)
      %ul.vertical.medium-horizontal.menu
        %li.menu-text Rarity:
        -Ingredient.rarities.keys.each do |rarity|
          %li= link_to rarity.titleize, staff_filter_path(rarity)
      %ul.vertical.medium-horizontal.menu
        %li.menu-text Season:
        -@seasons.each do |season|
          %li= link_to season, staff_filter_path(season.parameterize)
      %ul.vertical.medium-horizontal.menu
        %li.menu-text Type:
        -Ingredient.categories.keys.each do |category|
          %li= link_to category.titleize, staff_filter_path(category)
    %table.hover.stack.datatables
      %thead
        %tr
          %th Name
          %th Type
          %th Rarity
          %th Season
          %th Grade
          %th Professions
          %th Extraction
          %th Calcination
          %th Dissolution
          %th Concentration
      %tbody
        -@components.each do |component|
          %tr
            %td= link_to component.name, staff_component_path(component)
            %td.text-center= component.category.titleize
            %td.text-center= component.rarity.titleize
            %td.text-center= component.season
            %td.text-right= component.grade
            %td
              %span.small= component.professions.map(&:name).to_sentence
            %td.text-center= component.process_extraction
            %td.text-center= component.process_calcination
            %td.text-center= component.process_dissolution
            %td.text-center= component.process_concentration

