.row
  .small-12.columns
    %nav.top-padded{"aria-label": "You are here:", role: "navigation"}
      %ul.breadcrumbs
        %li
          =link_to "Components", staff_components_path
        %li
          %span.show-for-sr Current:
          =@component.name
    .text-center
      %h1
        =@component.name
        -if current_user.editor?
          =link_to edit_staff_component_path(@component) do
            %i.fa.fa-pencil-square-o{"aria-hidden": "true"}
      -if @component.picture.present?
        %a.thumbnail{ data: { open: "pictureModal" } }
          =image_tag(@component.picture.thumb.url, alt: "Thumbnail Picture of #{@component.name}")
    .callout
      .row
        .small-12.medium-5.columns
          %strong Type:
          =@component.category.titleize
        .small-12.medium-5.columns
          %strong Rarity:
          =@component.rarity.titleize
        .small-12.medium-2.columns
          %strong Grade:
          =@component.grade
    -unless @component.seasons.empty?
      .callout
        %a{ data: { open: "keyModal" } }
          %i.fa.fa-key
        %strong Seasons:
        =@component.season
        ="(#{@component.seasons.map(&:name).to_sentence})"
    .callout
      .row
        .small-12.medium-3.columns
          %strong Extraction:
          =@component.process_extraction
        .small-12.medium-3.columns
          %strong Calcination:
          =@component.process_calcination
        .small-12.medium-3.columns
          %strong Dissolution:
          =@component.process_dissolution
        .small-12.medium-3.columns
          %strong Concentration:
          =@component.process_concentration
    -unless @component.staff_notes.blank?
      .callout= @component.staff_notes
.reveal#keyModal{ data: { reveal: "" } }
  %table.hover.stack
    %thead
      %tr
        %th Name
        %th Equivalent
    %tbody
      -@seasons.each do |season|
        %tr
          %td= season.name
          %td= season.equivalent
  %button.close-button{ data: { close: "" }, aria: { label:  "Close modal"}, type: "button" }
    %span{ aria: { hidden: "true" } }
      &times;
-if @component.picture.present?
  .reveal#pictureModal{ data: { reveal: "" } }
    =image_tag(@component.picture.url, alt: "Picture of #{@component.name}")
    %button.close-button{ data: { close: "" }, aria: { label:  "Close modal"}, type: "button" }
      %span{ aria: { hidden: "true" } }
        &times;
