.row.top-padded
  -staff_profiles.each do |profile|
    .small-12.medium-6.large-4.columns.end
      .card
        .card-divider.text-center
          %h2= profile.user.full_name
        .card-section.text-center
          -if profile.picture.present?
            =image_tag(profile.picture.url, alt: "Picture of #{profile.user.full_name}")
          %h2= profile.title
          %p
            %strong= profile.responsibilities
        .card-section
          %p
            %em= profile.blurb
          %p.text-right
            =link_to new_staff_message_path(profile.user) do
              %i.fa.fa-envelope
              Contact
