<div class="row">
<%= form_for [:staff, @recipe] do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name  %>

    <%= f.label :subtype  %>
    <%= f.select :subtype, options_for_select_from_collection(Recipe.subtypes), :subtype, :subtype  %>
    <%= f.label :category  %>
    <%= f.text_field :category  %>
    <%= f.label :level  %>
    <%= f.text_field :level  %>
    <%= f.label :effect_family  %>
    <%= f.text_field :effect_family  %>
    <%= f.label :delivery  %>
    <%= f.text_field :delivery  %>
    <%= f.label :application_time  %>
    <%= f.text_field :application_time  %>

    <%= f.label :duration  %>
    <%= f.text_field :duration  %>

    <%= f.label :effect  %>
    <%= f.text_field :effect  %>

    <%= f.label :description  %>
    <%= f.text_field :description  %>

    <%= f.submit %>
<% end %>
</div>
