.row
  .small-12.columns
    %nav{"aria-label": "You are here:", role: "navigation"}
      %ul.breadcrumbs
        %li
          =link_to "Users", staff_users_path
        %li
          %span.show-for-sr Current:
          =@user.handle
    %h1.text-center
      -if @user.staff?
        -if @user.editor?
          %i.fa.fa-star
        -else
          %i.fa.fa-star-half-o
      =@user.handle
      =form_for @user, url: staff_user_staff_status_path(@user) do |f|
        .form-actions
          -if @user.staff?
            =f.submit "Revoke Staff Privileges", class: "button", data: { confirm: "Revoke staff privileges from user '#{@user.handle}': are you sure?" }
          -else
            =f.submit "Grant Staff Privileges", class: "button", data: { confirm: "Grant staff privileges to user '#{@user.handle}': are you sure?" }
      -if current_user.editor?
        -if @user.staff?
          =form_for @user, url: staff_user_editor_status_path(@user) do |f|
            .form-actions
              -if @user.editor?
                =f.submit "Revoke Editor Privileges", class: "button", data: { confirm: "Revoke editor privileges from user '#{@user.handle}': are you sure?" }
              -else
                =f.submit "Grant Editor Privileges", class: "button", data: { confirm: "Grant editor privileges to user '#{@user.handle}': are you sure?" }
    %p
      %strong Name:
      =@user.full_name
    %p
      %strong Email:
      =link_to @user.email, "mailto:#{@user.email}"
    %p
      %strong Member For:
      =distance_of_time_in_words_to_now(@user.created_at)
    %p
      %strong Last Signed In:
      -if @user.last_signed_in_at.nil?
        %em Never
      -else
        =distance_of_time_in_words_to_now(@user.last_signed_in_at)
        ago
    -if @user.street_address.present?
      .row
        .small-11.medium-7.large-5.small-centered.columns
          .card.text-center
            .card-divider
              %h4
                =@user.full_name
            .card-section
              %p
                =@user.street_address
                %br/
                =@user.city
                =@user.state
                =@user.zip
                %br/
                =number_to_phone(@user.phone)
    -unless @user.characters.empty?
      %h3.text-center Characters
      %table.hover.stack.datatables
        %thead
          %tr
            %th Name
            %th Race
        %tbody
          -@user.characters.each do |character|
            %tr
              %td= link_to character.name, staff_user_character_path(character.user, character)
              %td= character.race.titleize

