<div class="row">
  <h1><%=link_to @character.name, character_path(@character)%> Recipes Known </h1>
<div class="row">
  <table role="grid" class="row">
    <thead class="row">
      <th>Level</th>
      <th>Subtype</th>
      <th>Category</th>
      <th>Effect Family</th>
      <th>Delivery</th>
      <th>Application Time</th>
      <th>Duration</th>
      <th>Expiration</th>
      <th>Effect</th>
      <th>Description</th>
    </thead>
    <tbody>
<% @recipes.each do |recipe| %>
  <tr>
    <td><%=link_to recipe.name, recipe_path(recipe)%></td>
    <td><%=recipe.subtype%></td>
    <td><%=recipe.category%></td>
    <td><%=recipe.effect_family%></td>
    <td><%=recipe.delivery%></td>
    <td><%=recipe.application_time%></td>
    <td><%=recipe.duration%></td>
    <td><%=recipe.expiration%></td>
    <td><%=recipe.effect%></td>
    <td><%=recipe.description%></td>
  </tr>
<% end %>
</tbody>
</table>
</div>
</div>
