.row
  .small-12.columns
    %nav{"aria-label": "You are here:", role: "navigation"}
      %ul.breadcrumbs
        %li
          =link_to "Users", staff_users_path
        %li
          =link_to @character.user.handle, staff_user_path(@character.user)
        %li
          =link_to "Characters", staff_characters_path
        %li
          %span.show-for-sr Current:
          =@character.name
    %h1.text-center
      =@character.name
      -if current_user.editor?
        =link_to edit_staff_user_character_path(@character.user, @character) do
          %i.fa.fa-pencil-square-o{"aria-hidden": "true"}
        =link_to staff_character_path(@character), method: :delete, data: { confirm: "Delete character '#{@character.name}': are you sure?" } do
          %i.fa.fa-trash{"aria-hidden": "true"}
      %a{"data-open": "historyModal"}
        %i.fa.fa-book{"aria-hidden": "true"}
    %h3.text-center= @character.race.titleize
    -unless @character.drake.nil?
      %p.text-center
        =number_with_delimiter(@character.drake)
        Drake
    -unless @bank_account.length == 0
      %p.text-center
        =link_to "Bank Account",character_bank_account_path(@character.id, @bank_account[0].id)
    -if @character.alchemist?
      %p.text-center
        =link_to staff_user_character_character_recipes_path(@character.user, @character), class: "button" do
          %i.fa.fa-list-ol
          Character Recipes
    -if @character.inventories.empty?
      -if current_user.editor?
        %p.text-center
          =link_to staff_user_character_inventories_path(@character.user, @character), class: "button" do
            %i.fa.fa-list-ol
            Edit Components Inventory
    -else
      .callout
        %h2.text-center
          Components Inventory
          -if current_user.editor?
            =link_to staff_user_character_inventories_path(@character.user, @character) do
              %i.fa.fa-list-ol{"aria-hidden": "true"}
        %table.hover.datatables{ data: { page: { length: "25" }, order: "[[1,\"asc\"]]" } }
          %thead
            %tr
              %th.text-right Quantity
              %th Component
              %th.text-center Extraction
              %th.text-center Calcination
              %th.text-center Dissolution
              %th.text-center Concentration
              %th.text-center Crafting
              %th.text-center Ritual
          %tbody
            -@character.inventories.each do |inventory|
              %tr
                %td.text-right= inventory.quantity
                %td
                  =inventory.ingredient.name
                  -if inventory.ingredient.picture.present?
                    %a.float-right{ data: { open: inventory.ingredient.name.parameterize } }
                      %i.fa.fa-eye
                %td.text-center
                  -if inventory.unlocked_extraction?
                    =inventory.ingredient.process_extraction
                  -else
                    %i.fa.fa-lock
                %td.text-center
                  -if inventory.unlocked_calcination?
                    =inventory.ingredient.process_calcination
                  -else
                    %i.fa.fa-lock
                %td.text-center
                  -if inventory.unlocked_dissolution?
                    =inventory.ingredient.process_dissolution
                  -else
                    %i.fa.fa-lock
                %td.text-center
                  -if inventory.unlocked_concentration?
                    =inventory.ingredient.process_concentration
                  -else
                    %i.fa.fa-lock
                %td.text-center
                  -if inventory.unlocked_crafting?
                    =inventory.ingredient.crafting
                  -else
                    %i.fa.fa-lock
                %td.text-center
                  -if inventory.unlocked_ritual?
                    =inventory.ingredient.ritual_properties.to_sentence
                  -else
                    %i.fa.fa-lock
    -unless @character.professions.empty?
      .callout
        %h2.text-center Professions
        %ul.tabs#profession-tabs{ data: { tabs: "" } }
          -@character.professions.order(:name).each do |profession|
            %li.tabs-title
              %a{ href: "##{profession.name.parameterize}" }= profession.name
        .tab-content{ data: { tabs: { content: "profession-tabs" } } }
          -if current_user.editor?
            =form_for [:staff, @character] do |f|
              -@character.professions.order(:name).each do |profession|
                .tabs-panel{id: profession.name.parameterize}
                  -if profession.profession_links.empty?
                    %p (No links currently available.)
                  -else
                    %ol
                      =f.collection_check_boxes :profession_link_ids, profession.profession_links.order(:name), :id, :name do |b|
                        %li
                          =b.label { b.text + " " + b.check_box }
                    =f.submit "Save", class: "button"
          -else
            -@character.professions.order(:name).each do |profession|
              .tabs-panel{id: profession.name.parameterize}
                -if profession.profession_links.empty?
                  %p (No links currently available.)
                -else
                  %ol
                    -profession.profession_links.order(:name).each do |link|
                      %li
                        -if @character.profession_links.include?(link)
                          %i.fa.fa-eye
                        -else
                          %i.fa.fa-lock
                        =link_to link.name, link.url, target: "_blank"
.reveal#historyModal{"data-reveal": ""}
  %h2.margin-bottom-none.text-center Character History
  %hr/
  -if @character.history.blank?
    %p
      %em (blank)
  -else
    =raw @markdown.render(@character.history)
  %button.close-button{"data-close": "", "aria-label": "Close modal", "type": "button"}
    %span{"aria-hidden": "true"}
      &times;
-@character.inventories.each do |inventory|
  -if inventory.ingredient.picture.present?
    .reveal{ id: "#{inventory.ingredient.name.parameterize}", data: { reveal: "" } }
      %span.label= inventory.ingredient.name
      =image_tag(inventory.ingredient.picture.url, alt: "Picture of #{inventory.ingredient.name}")
      %button.close-button{ data: { close: "" }, aria: { label:  "Close modal"}, type: "button" }
        %span{ aria: { hidden: "true" } }
          &times;
