.row
  .small-12.columns
    %h1.text-center.top-padded Components
    %p.text-center= link_to "Add New Component", new_staff_component_path, class: "button"
    %fieldset.fieldset
      %legend Filters
      %ul.vertical.medium-horizontal.menu
        %li.menu-text Profession:
        -@professions.each do |profession|
          %li= link_to profession, staff_filter_path(profession.parameterize)
      %ul.vertical.medium-horizontal.menu
        %li.menu-text Rarity:
        -Ingredient.rarities.keys.each do |rarity|
          %li= link_to rarity.titleize, staff_filter_path(rarity)
      %ul.vertical.medium-horizontal.menu
        %li.menu-text Season:
        -@seasons.each do |season|
          %li= link_to season, staff_filter_path(season.parameterize)
      %ul.vertical.medium-horizontal.menu
        %li.menu-text Type:
        -Ingredient.categories.keys.each do |category|
          %li= link_to category.titleize, staff_filter_path(category)
    %table.hover.stack.datatables
      %thead
        %tr
          %th Name
          %th Code
          %th Level
          %th Rarity
          %th Type
          %th Professions
          %th Seasons
          %th Primary
          %th Secondary
          %th Tertiary
      %tbody
        -@components.each do |component|
          %tr
            %td= link_to component.name, staff_component_path(component)
            %td.text-center= component.code
            %td.text-right= component.level
            %td.text-center= component.rarity.titleize
            %td.text-center= component.category.titleize
            %td
              %span.small= component.professions.map(&:name).to_sentence
            %td
              %span.small= component.seasons.map(&:name).to_sentence
            %td.text-center= component.primary
            %td.text-center= component.secondary
            %td.text-center= component.tertiary

